MONGODB_URI=mongodb+srv://pharmacyServices_db_user:pObiHZ6t1f4SbMDg@cluster0.3zdc0nv.mongodb.net/?appName=Cluster0
PORT=5000
JWT_SECRET="$2a$10$ajc29IZe3oeuuwtUiI8Ub.Lc3/lMMMLWk1UIztgIli2DSBDLj7WKm"
ADMIN_EMAIL=admin@pharmacy-dhofar.gov.om
NODE_ENV=development
